body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0d0d0d;
    color: white;
}

h1 {
    color: gold;
}

form {
    margin: 20px auto;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background: gold;
    color: black;
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
}
